<mat-toolbar>
  <a routerLink="/" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
    <img src="/assets/logo/LOGO RIAÑO.png" alt="Logo Riaño 360" style="height: 50px; margin-right: 16px;">
    <span style="color:EFE9D5; font-size: 1.5rem; font-weight: bold;">Riaño 360</span>
  </a>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/">Inicio</a>
    <a mat-button routerLink="/documental">Documental</a>
    <a mat-button routerLink="/recorrido">Recorrido</a>
    <a mat-button routerLink="/pueblos-entorno">Pueblos & Entorno</a>
    <a mat-button routerLink="/planificador">Planificador</a>
  </nav>
</mat-toolbar>
