<mat-toolbar>
  <a routerLink="/" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
    <img src="/assets/logo/LOGO RIAÑO.png" alt="Logo Riaño 360" style="height: 50px; margin-right: 16px;">
    <span style="color:#EFE9D5; font-size: 1.5rem; font-weight: bold;">Riaño 360</span>
  </a>

  <!-- Botón hamburguesa -->
  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <span class="spacer"></span>
  <nav [class.show]="menuOpen">
    <a mat-button routerLink="/" (click)="closeMenu()">Inicio</a>
    <a mat-button routerLink="/documental" (click)="closeMenu()">Documental</a>
    <a mat-button routerLink="/recorrido" (click)="closeMenu()">Recorrido</a>
    <a mat-button routerLink="/pueblos-entorno" (click)="closeMenu()">Pueblos & Entorno</a>
    <a mat-button routerLink="/planificador" (click)="closeMenu()">Planificador</a>
  </nav>
</mat-toolbar>
