<div class="documental-container">
  <h1 class="mat-headline-4">Riaño 360</h1>
  
  <mat-card class="video-card">
    <mat-card-content>
      <div class="video-container">
        <iframe 
          src="https://www.youtube.com/embed/yd5JZoaSuWU" 
          title="Documental Riaño"
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          allowfullscreen>
        </iframe>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="info-card">
    <mat-card-header>
      <mat-card-title>Sobre el Documental</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="descripcion">
        Descubre Riaño 360, un documental que te lleva al corazón de la montaña leonesa, donde los pueblos olvidados alrededor del embalse de Riaño resurgen con fuerza. A través de un recorrido de 96 km creado por Santi, un joven que lucha por revitalizar la zona, conocerás historias de esfuerzo, superación y amor por la tierra.
Con imágenes espectaculares, testimonios emotivos y un mensaje inspirador, exploramos el abandono rural, el potencial del turismo sostenible y el valor de preservar nuestras raíces.

Sigue este viaje único por los pueblos de Vegacerneja, Liegos, Salamón, Las Salas, Horcadas, Carande y Boca de Huérgano. ¡Únete a esta aventura y redescubre un mundo lleno de historia y esperanza!

      </p>
      
      <mat-divider></mat-divider>
      
      <div class="detalles">
        <div class="detalle-item">
          <mat-icon>access_time</mat-icon>
          <span>Duración: 45 minutos</span>
        </div>
        <div class="detalle-item">
          <mat-icon>calendar_today</mat-icon>
          <span>Año: 2020</span>
        </div>
        <div class="detalle-item">
          <mat-icon>person</mat-icon>
          <span>Director: [Nombre del Director]</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
