<div class="hero-container">
  <div class="hero-content">
    <h1>Explora Riaño 360</h1>
    <p>Un recorrido único por la belleza natural de la montaña y los pueblos de Riaño</p>
    <div class="section-buttons">
      <!-- Botón para el Documental -->
      <button mat-raised-button color="primary" routerLink="/documental" class="hero-button">
        <mat-icon>movie</mat-icon>
        <span>Documental</span>
      </button>
      <!-- Botón para el Recorrido -->
      <button mat-raised-button color="primary" routerLink="/recorrido" class="hero-button">
        <mat-icon>map</mat-icon>
        <span>Recorrido</span>
      </button>
      <!-- Botón para Pueblos y Entorno -->
      <button mat-raised-button color="primary" routerLink="/pueblos-entorno" class="hero-button">
        <mat-icon>location_city</mat-icon>
        <span>Pueblos &amp; Entorno</span>
      </button>
      <!-- Botón para el Planificador -->
      <button mat-raised-button color="primary" routerLink="/planificador" class="hero-button">
        <mat-icon>event_note</mat-icon>
        <span>Planificador</span>
      </button>
    </div>
  </div>
</div>
